# CORE (LARAVEL)
*.log
.DS_Store
core/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.fleet/
.idea/
.nova/
.phpunit.cache/
.vscode/
.zed/
core/auth.json
core/node_modules
core/public/build
core/public/hot
core/public/storage
core/storage/*.key
core/storage/pail
core/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# WEBSITE (ASTROJS)
website/dist/
website/.astro/
website/node_modules/
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/pnpm-debug.log*
website/.env
website/.env.production
website/.DS_Store